<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/ico" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Magic Exports Admin</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css-admin/material-dashboard.css" rel="stylesheet" />
</head>

<body>
    <div id="nav-placeholder"></div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;">Admin Panel</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="card-body">
                            <form action="/register" method="POST">
                                <h6 class="card-category text-gray" for="username">Username</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                                <h6 class="card-category text-gray" for="email">Email</h6>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email">
                                </div>
                                <h6 class="card-category text-gray" for="password">Password</h6>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <h6 class="card-category text-gray" for="passwordConfirm">Password Confirm</h6>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="passwordConfirm"
                                        name="passwordConfirm">
                                </div>
                                <button class="btn btn-round btn-primary" type="submit">Register</button>
                            </form>
                        </div>
                    </div>

                    {{#if message}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <script src="/plugins-admin/nav.js"></script>
    <script src="/js-admin/core/jquery.min.js"></script>
    <script src="/js-admin/core/popper.min.js"></script>
    <script src="/js-admin/core/bootstrap-material-design.min.js"></script>
    <script src="/js-admin/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js-admin/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
</body>

</html>