<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>High Thermal Blanket</title>
        <meta name="description" content="">
        <meta name="msapplication-tap-highlight" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
    
        <!-- Google Web Font -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
    
<!--  Bootstrap 3-->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/bootstrap.min.css">

    <!-- OWL Carousel -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/owl.carousel.css">
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/owl.theme.css">

    <!--  Slider -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/jquery.kenburnsy.css">

    <!-- Animate -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/vaibhava17/css-work/master/magicexports-css/css/animate.css">

    <!-- Font Awesome -->
        <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Web Icons Font -->
        <link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="../css/iconmoon.css">
        <link rel="stylesheet" href="../css/et-line.css">
        <link rel="stylesheet" href="../css/ionicons.css">
    <!-- Magnific PopUp -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/magnific-popup.css">

    <!-- Tabs -->
    <link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/tabstyles.css" />

    <!-- Loader Style -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/loader-1.css">

    <!-- Costum Styles -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/main.css">
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/responsive.css">
    
        <!-- Favicon -->
        <link rel="icon" type="image/ico" href="../favicon.ico">
    
        <!-- Modernizer & Respond js -->
        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <!-- Preloader -->
    <div class="cover"></div>
    <div class="container">
        <div id="nav-placeholder"></div>
    </div>

    <div class="container">
        <div class="single-project-slider">
            <div class="owl-carousel single-slider">
                <div><img class="img-responsive center-block" src="../img/products/high.png" alt="slider"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="single-portfolio-wrapper">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>HIGH THERMAL BLANKET</h1>
                    <span class="info">RELIEFS</span>
                    <p><b>Key Features</b><br>
                        <li>Resistant to fire, thermal and air flow</li>
                        <li>Minimum 0.40 Rct (= 4.0 TOG)</li>
                        <li>1.5 x 2 m high synthetic blankets made of virgin fibers from polyester, knitted & dry raised on both sides, C.ISO 1833 on dry weight, 100% virgin polyester</li>
                        <li>Recommended for indoor use, on a bed, in a house with heating facilities</li>
                        <br><b>Dimenstions</b><br><br>
                        <li>
                            Total Size</li>
                        1.50 x 2.00 m
                        <br>
                        <li>
                            Weight (ICRC/IFRC & ICRC/IOM Standard)</li> 200-400 gsm<br>
                        <br><b>Materials</b>
                        <br><br>
                        <li>Blankets:</li>
                        100% virgin fibers from polyester, knitted & dry raised on both sides, C.ISO 1833 on dry weight, grey
                        <br>
                        <li>Thickness:</li>
                        ISO 5084, 3.5 mm minimum (1KPa on 2000 mm²)
                        <br>
                        <li>Tensile strength:</li>
                        ISO 13934-1: 250N warp and weft minimum
                        <br>
                        <li>After washing:</li>
                        ISO 13934-1 & ISO 6330: Max 5% warp and weft after 3 consecutive machine washes at 30°C and one flat drying
                        <br>
                        <li>Shrinkage:</li>
                        Max ISO 6330: Max 5% warp and weft after 3 consecutive machine washing at 30°C and one flat drying
                        <br>
                        <li>Weight loss after washing:</li>
                        Max 5% after 3 consecutive machine washing at 30°C and one flat drying
                        <br>
                        <li>Thermal resistance:</li>
                        ISO 11092: TOG 1.5 (or Rct 0.15 m² K/W) minimum, rounded to the nearest 0.01, passed on samples picked from compressed bales. After opening of the bale, the blanket shall be dry tumbled in a dryer for 15 minutes (without any other load), at a temperature
                        of less than 30°C and at least 24 hours by flat lying
                        <br>
                        <li>Air flow resistance:</li>
                        ISO 9237 under 100Pa pressure drop: Maximum 1500L/m²/s
                        <br>
                        <li>Fire resistance:</li>
                        ISO 12952 - 1: Resistance to cigarette - No ignition. <br>ISO 12952 - 2: Resistance to flame - No ignition
                        <br>
                        <li>Organoleptic test:</li>
                        No bad smell, no skin irritation, no dust. 4
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="project-information">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Category:</td>
                                    <td>RELIEFS</td>
                                </tr>
                                <tr>
                                    <td>Share:</td>
                                    <td>
                                        <ul class="social-buttons">
                                            <li><a href="javasript:void(0);" data-social="fb"><i
                                                        class="fa fa-facebook"></i></a></li>
                                            <li>
                                                <a href="javascript:void(0);" data-social="tw"> <i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="javascript:void(0);" data-social="pt"><i
                                                        class="fa fa-pinterest"></i></a></li>
                                            <li><a href="javascript:void(0);" data-social="ln"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="portfolio-controls">
            <div class="btn-project home-btn">
                <a href="../" data-hover="Home">
                    <i class="pe-7s-keypad"></i>
                </a>
            </div>
            <div class="btn-project forward-btn">
                <a href="/relief/multipurpose-mat" data-hover="Next">
                    <i class="pe-7s-angle-right right"></i>
                </a>
            </div>
            <div class="btn-project back-btn">
                <a href="/relief/high-thermal" data-hover="Previous">
                    <i class="pe-7s-angle-left left"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container margin-top">
        <div class="similar-project">
            <h4>Similar Projects</h4>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 mix relief">
                    <div class="img home-portfolio-image">
                        <img src="../img/home-portfolio/img_13.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">502</span>
                            </a>
                            <div class="details">
                                <span class="title">Sports Kit</span>
                                <span class="info">RELIEF</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/relief/sports-kit"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 mix relief">
                    <div class="img home-portfolio-image">
                        <img src="../img/home-portfolio/img_14.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">1016</span>
                            </a>
                            <div class="details">
                                <span class="title">Female Dignity Kit</span>
                                <span class="info">RELIEF</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/relief/dignity-kit"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 mix relief">
                    <div class="img home-portfolio-image">
                        <img src="../img/home-portfolio/img_16.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">2504</span>
                            </a>
                            <div class="details">
                                <span class="title">Education Kit</span>
                                <span class="info">RELIEF</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/relief/education-kit"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-placeholder"></div>

    <script src="../js/vendor/jquery-1.11.2.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="../js/vendor/pace.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/classie.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/jquery.velocity.min.js"></script>
    <script src="../js/vendor/jquery.kenburnsy.min.js"></script>
    <script src="../js/vendor/textslide.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendor/tabs.js"></script>
    <script src="../js/ef-slider.js"></script>
    <script src="../js/vendor/owl.carousel.min.js"></script>
    <script src="../js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendor/jquery.social-buttons.min.js"></script>
    <script src="../js/vendor/wow.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/pulgins.js"></script>
    <script src="../js/scroll.js"></script>
</body>

</html>