<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Hand Woven Carpets</title>
        <meta name="description" content="">
        <meta name="msapplication-tap-highlight" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
    
        <!-- Google Web Font -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
    
<!--  Bootstrap 3-->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/bootstrap.min.css">

    <!-- OWL Carousel -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/owl.carousel.css">
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/owl.theme.css">

    <!--  Slider -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/jquery.kenburnsy.css">

    <!-- Animate -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/vaibhava17/css-work/master/magicexports-css/css/animate.css">

    <!-- Font Awesome -->
        <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Web Icons Font -->
        <link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="../css/iconmoon.css">
        <link rel="stylesheet" href="../css/et-line.css">
        <link rel="stylesheet" href="../css/ionicons.css">
    <!-- Magnific PopUp -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/magnific-popup.css">

    <!-- Tabs -->
    <link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/tabstyles.css" />

    <!-- Loader Style -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/loader-1.css">

    <!-- Costum Styles -->
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/main.css">
    <link rel="stylesheet" href="https://gitcdn.link/repo/vaibhava17/css-work/master/magicexports-css/css/responsive.css">
    
        <!-- Favicon -->
        <link rel="icon" type="image/ico" href="../favicon.ico">
    
        <!-- Modernizer & Respond js -->
        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <!-- Preloader -->
    <div class="cover"></div>
    <div class="container">
        <div id="nav-placeholder"></div>
    </div>

    <div class="container">
        <div class="single-project-slider">
            <div class="owl-carousel single-slider scroll7">
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-001.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-002.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-003.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-004.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-005.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-006.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-007.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-008.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-009.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-010.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-011.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-012.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-013.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-014.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-015.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-016.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-017.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-018.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-019.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-020.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-021.png" alt="slider">
                </div>
                <div><img class="img-responsive center-block" src="../img/products/carpets/ME-HC-022.png" alt="slider">
                </div>
            </div>
            <div class="single-controls">
                <span class="arrow-left"><a class="prev-slide npbtn7" href="javascript:void(0)"><i
                            class="pe-7s-angle-left"></i></a></span>
                <span class="arrow-right"><a class="next-slide npbtn7" href="javascript:void(0)"><i
                            class="pe-7s-angle-right"></i></a></span>
            </div>
        </div>
        <div class="scrollmenu">
            <a id="smbtn7" data-id="001"><img src="../img/products/carpets/ME-HC-001.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="002"><img src="../img/products/carpets/ME-HC-002.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="003"><img src="../img/products/carpets/ME-HC-003.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="004"><img src="../img/products/carpets/ME-HC-004.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="005"><img src="../img/products/carpets/ME-HC-005.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="006"><img src="../img/products/carpets/ME-HC-006.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="007"><img src="../img/products/carpets/ME-HC-007.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="008"><img src="../img/products/carpets/ME-HC-008.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="009"><img src="../img/products/carpets/ME-HC-009.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="010"><img src="../img/products/carpets/ME-HC-010.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="011"><img src="../img/products/carpets/ME-HC-011.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="012"><img src="../img/products/carpets/ME-HC-012.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="013"><img src="../img/products/carpets/ME-HC-013.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="014"><img src="../img/products/carpets/ME-HC-014.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="015"><img src="../img/products/carpets/ME-HC-015.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="016"><img src="../img/products/carpets/ME-HC-016.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="017"><img src="../img/products/carpets/ME-HC-017.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="018"><img src="../img/products/carpets/ME-HC-018.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="019"><img src="../img/products/carpets/ME-HC-019.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="020"><img src="../img/products/carpets/ME-HC-020.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="021"><img src="../img/products/carpets/ME-HC-021.png" width="195" height="75" alt="Natural" /></a>
            <a id="smbtn7" data-id="022"><img src="../img/products/carpets/ME-HC-022.png" width="195" height="75" alt="Natural" /></a>
        </div>
    </div>
    <div class="container">
        <div class="single-portfolio-wrapper">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>HAND WOVEN CARPETS</h1>
                    <span class="info">HOME FURNISHING</span>
                    <p>Find here a wide range of rugs and carpets available in several designs and colors to match the aesthetic requirements of your rooms. Ranging from full floor carpets to small carpets and rugs, there are four types of these to choose
                        from. The woven carpets are some of the softest carpets we have. They are generally made from wool and are the best to keep your feet warm. The jacquard rugs and carpets manufactured by us are made using the traditional jacquard
                        method. This allows much more control during the manufacturing process which helps to make the patterns more intricate and detailed. Our next range of carpets and rugs have complicated designs and patterns present on them. These
                        are called printed rugs and carpets. Thanks to the modern printing machinery, we can now manufacture a large variety of printed rugs and carpets for you. Last but not least, we also manufacture braided carpets and rugs.</p>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="project-information">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Category:</td>
                                    <td>Home Furnishing</td>
                                </tr>
                                <tr>
                                    <td>Share:</td>
                                    <td>
                                        <ul class="social-buttons">
                                            <li><a href="javasript:void(0);" data-social="fb"><i
                                                        class="fa fa-facebook"></i></a></li>
                                            <li>
                                                <a href="javascript:void(0);" data-social="tw"> <i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="javascript:void(0);" data-social="pt"><i
                                                        class="fa fa-pinterest"></i></a></li>
                                            <li><a href="javascript:void(0);" data-social="ln"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="portfolio-controls">
            <div class="btn-project home-btn">
                <a href="../" data-hover="Home">
                    <i class="pe-7s-keypad"></i>
                </a>
            </div>
            <div class="btn-project forward-btn">
                <a href="/home-furnishing/tufted-carpet" data-hover="Next">
                    <i class="pe-7s-angle-right right"></i>
                </a>
            </div>
            <div class="btn-project back-btn">
                <a href="/home-furnishing/darrie" data-hover="Previous">
                    <i class="pe-7s-angle-left left"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container margin-top">
        <div class="similar-project">
            <h4>Similar Products</h4>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="img">
                        <img src="../img/home-portfolio/img_6.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">2048</span>
                            </a>
                            <div class="details">
                                <span class="title">Bath Mat</span>
                                <span class="info">HOME FURNISHING</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/home-furnishing/bath-mat"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="img">
                        <img src="../img/home-portfolio/img_1.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">250</span>
                            </a>
                            <div class="details">
                                <span class="title">BLANKETS</span>
                                <span class="info">HOME FURNISHING</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/home-furnishing/blankets"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="img">
                        <img src="../img/home-portfolio/img_2.jpg" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">1060</span>
                            </a>
                            <div class="details">
                                <span class="title">POUF</span>
                                <span class="info">HOME FURNISHING</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/home-furnishing/pouf"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-placeholder"></div>

    <script src="../js/vendor/jquery-1.11.2.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="../js/vendor/pace.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/classie.js"></script>
    <script src="../js/vendor/isotope.pkgd.min.js"></script>
    <script src="../js/vendor/jquery.velocity.min.js"></script>
    <script src="../js/vendor/jquery.kenburnsy.min.js"></script>
    <script src="../js/vendor/textslide.js"></script>
    <script src="../js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendor/tabs.js"></script>
    <script src="../js/ef-slider.js"></script>
    <script src="../js/vendor/owl.carousel.min.js"></script>
    <script src="../js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendor/jquery.social-buttons.min.js"></script>
    <script src="../js/vendor/wow.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/pulgins.js"></script>
    <script src="../js/scroll.js"></script>
</body>

</html>